<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.bluesapphiremedia.android.zombiedice.test">

    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23" />

    <application>
        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation android:name="android.test.InstrumentationTestRunner"
                     android:targetPackage="uk.co.bluesapphiremedia.android.zombiedice"
                     android:handleProfiling="false"
                     android:functionalTest="false"
                     android:label="Tests for uk.co.bluesapphiremedia.android.zombiedice"/>
</manifest>
